<div class="main-content">
  <p class="header-name">Dodaj proces</p>

  <form [formGroup]="processForm" fxLayout="column" (ngSubmit)="onSubmit()">
    <div fxLayout="column">

      <input hidden matInput id="id" type="text" formControlName="id">

      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field appearance="fill">
          <mat-label>Typ procesu</mat-label>
          <mat-select id="category" type="text" formControlName="processType" name="processType">
            <mat-option *ngFor="let processType of processTypes" [value]="processType.value">
              {{processType.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field appearance="fill" tabindex="1">
          <mat-label for="name">Nazwa</mat-label>
          <input matInput id="name" type="text" formControlName="name">
          <mat-error *ngIf="(nameValue?.errors || null)?.['required']">
            Nazwa jest wymagana.
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-checkbox *ngIf="false" id="isBaseProcess" formControlName="isBaseProcess" value="true"></mat-checkbox>
      </div>

      <div fxLayout="row" fxLayoutAlign="center center" class="button-section">
        <button mat-raised-button style="margin-right: 20px;" (click)="redirectToProcessess()">Procesy</button>
        <button mat-raised-button color="primary" type="submit">Zapisz</button>
      </div>

    </div>

  </form>
</div>