<div class="main-content">
  <p class="header-name">Dodaj proces</p>

  <form [formGroup]="processForm" fxLayout="column" (ngSubmit)="onSubmit()">
    <div fxLayout="row wrap" fxLayoutGap="20px grid" fxLayoutAlign="start start">

      <input hidden matInput id="id" type="text" formControlName="id">

      <div fxLayout="column" fxFlex.gt-sm="100%" fxFlex.sm="100%" fxFlex.xs="100%" fxFlexOrder="1" fxFlexOrder.sm="1"
        fxFlexOrder.xs="1">
        <mat-form-field appearance="fill" tabindex="1">
          <mat-label for="name">Nazwa</mat-label>
          <input matInput id="name" type="text" formControlName="name">
          <mat-error *ngIf="(nameValue?.errors || null)?.['required']">
            Nazwa jest wymagana.
          </mat-error>
        </mat-form-field>
      </div>

      <mat-checkbox hidden id="isBaseProcess" formControlName="isBaseProcess" value="true"></mat-checkbox>

    </div>
    <button mat-raised-button color="primary" type="submit" class="add-qualty-policy">Zapisz</button>
  </form>
</div>