<div id="print-section">
  <h2 style="text-align: center;">SCHEMAT ORGANIZACJI</h2>
  <div class="card flex justify-content-center overflow-x-auto" style="padding-top: 40px;">
    <p-organizationChart [value]="data" selectionMode="multiple" [(selection)]="selectedNodes">
      <ng-template let-node pTemplate="person">
        <div class="p-2 text-center">
          <img [src]="node.data.image" class="mb-3 w-3rem h-3rem" />
          <div class="font-bold">{{ node.data.name }}</div>
          <div>{{ node.data.title }}</div>
        </div>
      </ng-template>
    </p-organizationChart>
  </div>
</div>

<div *ngIf="document" style="margin: auto; width: 50%; padding-top: 70px;">
  <p>Raport schemat organizacji - ostatnia wersja:</p>
  <div style="padding-right: 20px;">
    {{document.name}}
    <mat-icon (click)="downloadDocumnet(document.id, document.name)">download</mat-icon>
  </div>
</div>