.title {
    padding-bottom: 20px;
}

.quality-policy-section {
    margin: 12px 0;
}

.flex-container {
    display: flex;
}

.flex-container>div {
    padding: 5px 15px;
}

.div-section {
    width: 50%;
    text-align: left;
}