<div class="main-content">
  <p class="header-name">Dane Organizacji</p>

  <form [formGroup]="companyForm" #formDirective="ngForm" fxLayout="column" (ngSubmit)="onSubmit(formDirective)">

    <div fxLayout="column">

      <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="20px">

        <input hidden matInput id="id" type="text" formControlName="id">

        <div fxLayout="column" fxFlex.gt-sm="20%" fxFlex.sm="50%" fxFlex.xs="100%" fxFlexOrder="1" fxFlexOrder.sm="1"
          fxFlexOrder.xs="1">
          <mat-form-field appearance="fill" tabindex="1">
            <mat-label for="name">Nazwa</mat-label>
            <input matInput id="name" type="text" formControlName="name">
            <mat-error *ngIf="(nameValue?.errors || null)?.['required']">
              Nazwa jest wymagana.
            </mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="column" fxFlex.gt-sm="20%" fxFlex.sm="50%" fxFlex.xs="100%" fxFlexOrder="2" fxFlexOrder.sm="2"
          fxFlexOrder.xs="2">
          <mat-form-field appearance="fill" tabindex="2">
            <mat-label for="director">Kod firmy</mat-label>
            <input matInput id="code" type="text" formControlName="code" maxlength="4" [readonly]="codeDisabled">
            <mat-error *ngIf="(codeValue?.errors || null)?.['required']">
              Kod firmy jest wymagany.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="20px">

        <div fxLayout="column" fxFlex.gt-sm="20%" fxFlex.sm="50%" fxFlex.xs="100%" fxFlexOrder="1" fxFlexOrder.sm="1"
          fxFlexOrder.xs="1">
          <mat-form-field appearance="fill" tabindex="3">
            <mat-label for="director">Właściciel / Dyrektor (Imię i Nazwisko)</mat-label>
            <input matInput id="director" type="text" formControlName="director">
            <mat-error *ngIf="(directorValue?.errors || null)?.['required']">
              Właściciel / Dyrektor jest wymagany.
            </mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="column" fxFlex.gt-sm="20%" fxFlex.sm="50%" fxFlex.xs="100%" fxFlexOrder="2" fxFlexOrder.sm="2"
          fxFlexOrder.xs="2">
          <mat-form-field appearance="fill" tabindex="5">
            <mat-label for="city">Adres Miejscowość</mat-label>
            <input matInput id="city" type="text" formControlName="city">
          </mat-form-field>
        </div>

        <div fxLayout="column" fxFlex.gt-sm="20%" fxFlex.sm="50%" fxFlex.xs="100%" fxFlexOrder="3" fxFlexOrder.sm="3"
          fxFlexOrder.xs="3">
          <mat-form-field appearance="fill" tabindex="8">
            <mat-label for="numberBuilding">Numer budynku</mat-label>
            <input matInput id="numberBuilding" type="text" formControlName="numberBuilding">
          </mat-form-field>
        </div>

        <div fxLayout="column" fxFlex.gt-sm="20%" fxFlex.sm="50%" fxFlex.xs="100%" fxFlexOrder="4" fxFlexOrder.sm="4"
          fxFlexOrder.xs="4">
          <mat-form-field appearance="fill" tabindex="7">
            <mat-label for="street">Ulica</mat-label>
            <input matInput id="street" type="text" formControlName="street">
          </mat-form-field>
        </div>

      </div>

      <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="20px">

        <div fxLayout="column" fxFlex.gt-sm="20%" fxFlex.sm="50%" fxFlex.xs="100%" fxFlexOrder="1" fxFlexOrder.sm="1"
          fxFlexOrder.xs="1">
          <mat-form-field appearance="fill" tabindex="6">
            <mat-label for="postalCode">Kod pocztowy</mat-label>
            <input matInput id="postalCode" type="text" formControlName="postalCode">
          </mat-form-field>
        </div>

        <div fxLayout="column" fxFlex.gt-sm="20%" fxFlex.sm="50%" fxFlex.xs="100%" fxFlexOrder="2" fxFlexOrder.sm="2"
          fxFlexOrder.xs="2">
          <mat-form-field appearance="fill" tabindex="9">
            <mat-label for="numberApartment">Numer lokalu</mat-label>
            <input matInput id="numberApartment" type="text" formControlName="numberApartment">
          </mat-form-field>
        </div>

        <div fxLayout="column" fxFlex.gt-sm="20%" fxFlex.sm="50%" fxFlex.xs="100%" fxFlexOrder="3" fxFlexOrder.sm="3"
          fxFlexOrder.xs="3">
          <mat-form-field appearance="fill" tabindex="4">
            <mat-label for="nip">NIP</mat-label>
            <input matInput id="nip" type="text" formControlName="nip">
            <mat-error *ngIf="(nipValue?.errors || null)?.['required']">
              Nip jest wymagany.
            </mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="column" fxFlex.gt-sm="20%" fxFlex.sm="50%" fxFlex.xs="100%" fxFlexOrder="4" fxFlexOrder.sm="4"
          fxFlexOrder.xs="4">
          <mat-form-field appearance="fill" tabindex="17">
            <mat-label for="contactDetails">Dane kontaktowe</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5"
              cdkAutosizeMaxRows="50" id="contactDetails" type="text" formControlName="contactDetails"></textarea>
          </mat-form-field>
        </div>

      </div>

      <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="20px">

        <div fxLayout="column" fxFlex.gt-sm="20%" fxFlex.sm="50%" fxFlex.xs="100%" fxFlexOrder="1" fxFlexOrder.sm="1"
          fxFlexOrder.xs="1">
          <mat-form-field appearance="fill" tabindex="10">
            <mat-label for="knowHow">Know-how</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5"
              cdkAutosizeMaxRows="50" id="knowHow" type="text" formControlName="knowHow"></textarea>
          </mat-form-field>
        </div>

        <div fxLayout="column" fxFlex.gt-sm="20%" fxFlex.sm="50%" fxFlex.xs="100%" fxFlexOrder="2" fxFlexOrder.sm="2"
          fxFlexOrder.xs="2">
          <mat-form-field appearance="fill" tabindex="11">
            <mat-label for="itemsCompany">Cel i strategię działania firmy</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5"
              cdkAutosizeMaxRows="50" id="itemsCompany" type="text" formControlName="itemsCompany"></textarea>
          </mat-form-field>
        </div>

        <div fxLayout="column" fxFlex.gt-sm="20%" fxFlex.sm="50%" fxFlex.xs="100%" fxFlexOrder="3" fxFlexOrder.sm="3"
          fxFlexOrder.xs="3">
          <mat-form-field appearance="fill" tabindex="12">
            <mat-label for="technologiesUsed">Zastosowane technologie</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5"
              cdkAutosizeMaxRows="50" id="technologiesUsed" type="text" formControlName="technologiesUsed"></textarea>
          </mat-form-field>
        </div>

        <div fxLayout="column" fxFlex.gt-sm="20%" fxFlex.sm="50%" fxFlex.xs="100%" fxFlexOrder="4" fxFlexOrder.sm="4"
          fxFlexOrder.xs="4">
          <mat-form-field appearance="fill" tabindex="13">
            <mat-label for="communicationSystem">System komunikacji</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5"
              cdkAutosizeMaxRows="50" id="communicationSystem" type="text"
              formControlName="communicationSystem"></textarea>
          </mat-form-field>
        </div>

      </div>

      <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="20px">

        <div fxLayout="column" fxFlex.gt-sm="20%" fxFlex.sm="50%" fxFlex.xs="100%" fxFlexOrder="1" fxFlexOrder.sm="1"
          fxFlexOrder.xs="1">
          <mat-form-field appearance="fill" tabindex="14">
            <mat-label for="strengths">Silne strony</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5"
              cdkAutosizeMaxRows="50" id="strengths" type="text" formControlName="strengths"></textarea>
          </mat-form-field>
        </div>

        <div fxLayout="column" fxFlex.gt-sm="20%" fxFlex.sm="50%" fxFlex.xs="100%" fxFlexOrder="2" fxFlexOrder.sm="2"
          fxFlexOrder.xs="2">
          <mat-form-field appearance="fill" tabindex="15">
            <mat-label for="weaknesses">Słabe strony</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5"
              cdkAutosizeMaxRows="50" id="weaknesses" type="text" formControlName="weaknesses"></textarea>
          </mat-form-field>
        </div>

        <div fxLayout="column" fxFlex.gt-sm="20%" fxFlex.sm="50%" fxFlex.xs="100%" fxFlexOrder="3" fxFlexOrder.sm="3"
          fxFlexOrder.xs="3">
          <mat-form-field appearance="fill" tabindex="16">
            <mat-label for="opportunitiesForTheCompany">Szanse dla firmy</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5"
              cdkAutosizeMaxRows="50" id="opportunitiesForTheCompany" type="text"
              formControlName="opportunitiesForTheCompany"></textarea>
          </mat-form-field>
        </div>

        <div fxLayout="column" fxFlex.gt-sm="20%" fxFlex.sm="50%" fxFlex.xs="100%" fxFlexOrder="4" fxFlexOrder.sm="4"
          fxFlexOrder.xs="4">
          <mat-form-field appearance="fill" tabindex="17">
            <mat-label for="threatsToTheCompany">Zagrożenia dla firmy</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5"
              cdkAutosizeMaxRows="50" id="threatsToTheCompany" type="text"
              formControlName="threatsToTheCompany"></textarea>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button style="margin-right: 20px;" (click)="redirectToCompanies()">Firmy</button>
        <button mat-raised-button color="primary" type="submit" class="add-company">Zapisz</button>
      </div>

    </div>

  </form>
</div>