table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

.process-type-header {
    color: #4db6ac;
}

.mat-mdc-cell {
    width: 100px !important;
}

.save-to-pdf-btn {
    padding-top: 100px;
    text-align: center;
}