<div class="dialog-content">
  <p>
    Nazwa: {{company.name}}
  </p>
  <p>
    Director: {{company.director}}
  </p>
  <p>
    Nip: {{company.nip}}
  </p>
  <p>
    Miasto: {{company.city}}
  </p>
  <p>
    Kod pocztowy: {{company.postalCode}}
  </p>
  <p>
    Ulica: {{company.street}}
  </p>
  <p>
    Numer Budynku: {{company.numberBuilding}}
  </p>
  <p>
    Numer lokalu: {{company.numberApartment}}
  </p>
  <p>
    Know-how: {{company.knowHow}}
  </p>
  <p>
    Cel i strategię działania firmy: {{company.itemsCompany}}
  </p>
  <p>
    Zastosowane technologie: {{company.technologiesUsed}}
  </p>
  <p>
    System komunikacji: {{company.communicationSystem}}
  </p>
  <p>
    Silne strony: {{company.strengths}}
  </p>
  <p>
    Słabe strony: {{company.weaknesses}}
  </p>
  <p>
    Szanse dla firmy: {{company.opportunitiesForTheCompany}}
  </p>
  <p>
    Zagrożenia dla firmy: {{company.threatsToTheCompany}}
  </p>
  <p>
    Dane kontaktowe {{company.contactDetails}}
  </p>
</div>