<div style="text-align: center;">
  <h1 mat-dialog-title>Zmień hasło</h1>
  <div mat-dialog-content>

    <form class="content" [formGroup]="changePasswordForm" fxLayout="column" *ngIf="!isLoading">
      <div fxLayout="row wrap" fxLayoutGap="20px grid" fxLayoutAlign="center center">

        <div fxLayout="column" fxFlex.gt-sm="100%" fxFlex.sm="100%" fxFlex.xs="100%" fxFlexOrder="1" fxFlexOrder.sm="1"
          fxFlexOrder.xs="1">
          <mat-form-field appearance="fill" tabindex="1">
            <mat-label for="name">Obecne hasło</mat-label>
            <input matInput id="password" type="password" formControlName="currentPassword">
            <mat-error *ngIf="(currentPasswordValue?.errors || null)?.['required']">
              Hasło jest wymagane.
            </mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="column" fxFlex.gt-sm="100%" fxFlex.sm="100%" fxFlex.xs="100%" fxFlexOrder="2" fxFlexOrder.sm="2"
          fxFlexOrder.xs="2">
          <mat-form-field appearance="fill" tabindex="2">
            <mat-label for="name">Nowe hasło</mat-label>
            <input matInput id="password" type="password" formControlName="newPassword">
            <mat-error *ngIf="(newPasswordValue?.errors || null)?.['required']">
              Hasło jest wymagane.
            </mat-error>
          </mat-form-field>
        </div>

      </div>

    </form>

  </div>
  <div mat-dialog-actions style="justify-content: center;">
    <button mat-button (click)="onNoClick()">Anuluj</button>
    <button mat-button (click)="changePassword()" cdkFocusInitial>Zapisz</button>
  </div>
</div>